body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.pokemon-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 10px;
}

img {
    max-width: 200px;
}

body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-image: url('/static/9469f63cb17b971a97b02a54c0e5a962.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
